$colorDarkestBlue: #272d35;
$colorDarkBlue: #363e49;
$colorBlue: #4f5a69;

$colorDarkestGreyAtom: #21252b;
$colorDarkestGrey: #222;
$colorDarkGrey: #333;
$colorMediumGrey: #888;
$colorBlocklyGrey: #4d5156;
$colorBlocklyGreyActive: #616366;

$colorRed: #9f2925;
$colorDarkRed: #bc2e2a;

$colorGreen: #5ba55b;

$colorWhite: #fff;
$colorBlack: #000;

$headerHeight: 80px;
